body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
  
}

h1 {
    color: #66BFBF;
    font-size: 3.5rem;
    margin-top: 50px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
       /* line-height: 2; */
}

h2 {
    color: #11999E;
   font-family: 'Montserrat', san-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
   }

h3 {
    color: #11999E;
    font-family:'Montserrat', san-serif;
    }

    p {
        line-height: 2;
    }

hr {
        border: dotted #EAF6F6 6px;
        border-bottom: none;
        width: 4%;
          
    }
a {
    color: #11999E;
}

a {
    color: #11999E;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: rgb(199, 230, 235);
   padding-top: 100px;
}


.middle-container {
    margin: 100px 0;
 }

 .bottom-container {
    background-color: #66BFBF;
    padding: 30px 0 16px;
  }

  .members-row {
    margin: 100px auto;
    text-align: left;
    width: 50%;
}
.awesome {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.subtitle {
    text-align: center;
    color: #66BFBF;
    font-weight: normal;
}

.top-cloud {
    /* margin-bottom: 10px; */
    position: absolute;
    right: 350px;
    top: 50px;
}
.bottom-cloud {
   position: absolute;
   left: 300px;
   bottom: 300px;
}

.family-kite{
    width:300px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.member-img {
    width: 200px;
    height:200px;
}

.mom-img {
    float: right;
    margin-left: 20px;
}
.dad-img {
    float: left;
    margin-right: 20px;
  }

.kaden-img {
    float: right;
    margin-left: 20px;
}

.leah-img {
    float: left;
    margin-right: 20px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}



.btn {
	-moz-box-shadow: 0px 10px 7px -7px #276873;
	-webkit-box-shadow: 0px 10px 7px -7px #276873;
	box-shadow: 0px 10px 7px -7px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9be9f2), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #9be9f2 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9be9f2', endColorstr='#408c99');
	background-color:#9be9f2;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #9be9f2) );
	background:-moz-linear-gradient( center top, #408c99 5%, #9be9f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#9be9f2');
	background-color:#408c99;
}.btn:active {
	position:relative;
	top:1px;
}